








body {
    font-family: sans-serif;
    margin: 0; /* Vous ne connaissez pas encore cette propriété mais elle permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
}

.banniere {
    padding: 100px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    opacity: 0.9;
    /* background-image: url("https://images.unsplash.com/photo-1765734208128-b3c05bc25204?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D");
    background-attachment: fixed;
    background-size:cover;
    background-position: top; */
}

h1 {
    color: white;
    text-align: center;
}

/* https://developer.mozilla.org/fr/docs/Web/CSS/Reference/Properties/background */