body {
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

body {
    background-image: url("https://images.unsplash.com/photo-1765734208128-b3c05bc25204?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D");
    color: white; /* Le texte de la page sera blanc */
}

h1 {
    color: purple;
}