.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  margin: auto;
}


table {
    border-collapse: collapse;
    color: white;
    text-align: center;
    width: 100%;
}
caption{
  margin: 1.5em;
  font-size: 2em;
}
td, th /* Mettre une bordure sur les td ET les th */ {
    border: 1px solid white;
}
td, th[scope="row"]  {
  padding: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  font-weight: normal;
}
/* th[scope="row"] {
  text-align: left;
} */
h2 {
  margin-bottom: 80px;
}

h1,
h2 {
  text-align: center;
}