.fst {

    font-style: italic;
    /* font-style: oblique; */
    /* font-style: normal; */ /* the default value */
}

.fsi {
    /* its better to use em than px for responsive */
    font-size: 1em;
    font-size: 40em;
}

.ff {
    /* used to change the font (typo of the charater) */
    /* we can use this site : https://fonts.google.com/
       to get an other font and use with a font-family like the actual */
    font-family:fantasy;
}

.fw {
    /* u can have 100,200,300,400,500,600,700,800,900 */
    font-weight: 900;
}
.td{
    text-decoration:  underline;
    text-decoration:  line-through;
    text-decoration:  none;
}

.ta {
    /* L'alignement ne fonctionne que sur des balises de type block : <p>, <div>, <h1>… */
    /* Aligner le texte d'une balise inline, comme  <span>,  <a>,  <em> ,  <strong> n'est pas possible. */
    /* Et c'est logique quand on y pense : on ne peut pas modifier l'alignement de quelques mots au milieu d'un paragraphe. */

    text-align: left;       /* erqwer       */
    text-align: center;     /*    erqwer    */
    text-align: right;      /*       erqwer */
    text-align: justify;    /* Justifier le texte permet de faire en sorte qu'il prenne toute la largeur possible sans laisser d'espace blanc à la fin des lignes. Les textes des journaux, par exemple, sont toujours justifiés. */
}